<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    {% include "head.html" %}

    <title>Chat app - Chatbot</title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <!-- Main content -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          {% include "sidebar.html" %}

          <section class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <!-- Chatbot and user messages -->
            {% if chatbot_messages %} {% for chatbot_message in chatbot_messages
            %}
            <div class="card mt-3">
              <div class="card-body">
                <p class="card-title">
                  {{ chatbot_message.created_at.strftime(' %H:%M, %Y-%m-%d') }}
                </p>
                <p class="py-3 text-start">
                  <img
                    class="smaller-user-image me-1"
                    src="data:image/jpeg;base64,{{ user_image }}"
                    alt="{{ user.name }}'s avatar" />
                  <strong class="text-primary">{{ user.name }}:</strong> {{
                  chatbot_message.message }}
                </p>
                {% if chatbot_message.response %}
                <p class="mt-3 text-start">
                  <strong class="text-primary"
                    ><i class="bi bi-robot"></i> Chatbot:</strong
                  >
                  {{ chatbot_message.response }}
                </p>
                {% endif %}
              </div>
            </div>

            {% endfor %}
            <div class="card mt-3">
              <div class="card-body">
                <form
                  action="/chatbot"
                  method="POST"
                  class="d-flex flex-column">
                  <div class="form-floating">
                    <textarea
                      type="text"
                      cols="0"
                      id="message"
                      class="form-control textarea-height textarea-height mx-3 mt-5"
                      name="message"
                      placeholder="Message our chatbot..."
                      required></textarea>
                    <label for="floatingTextarea">Your message:</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      class="btn btn-primary btn-lg text-decoration-none text-dark bold my-3"
                      type="submit">
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- No previous conversation with chatbot -->
            {% else %}
            <h1 class="mt-5 mb-5 text-center">
              <strong class="me-3 text-primary"
                ><i class="bi bi-robot"></i> Chatbot:</strong
              >How can I help you today?
            </h1>
            <div class="card mt-3">
              <div class="card-body">
                <form
                  action="/chatbot"
                  method="POST"
                  class="d-flex flex-column">
                  <div class="form-floating">
                    <textarea
                      type="text"
                      cols="0"
                      id="message"
                      class="form-control textarea-height mt-5"
                      name="message"
                      required></textarea>
                    <label for="floatingTextarea">Your message:</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      class="btn btn-primary btn-lg text-decoration-none text-dark bold my-3"
                      type="submit">
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- Delete conversation -->
            {% endif %}
            <button
              class="btn btn-danger btn btn-primary btn-lg text-decoration-none text-dark bold mt-5 mx-3 mb-3 float-end"
              onclick="document.getElementById('delete-confirmation').showModal()">
              Delete conversation
            </button>
            <dialog id="delete-confirmation">
              Are you sure you want to delete previous conversation?
              <div class="button-container my-5 d-flex justify-content-center">
                <button
                  class="btn btn-success me-3 text-dark"
                  id="close-dialog"
                  onclick="DeleteConfirmationClose()">
                  <label for="cancel" class="btn-text">Cancel</label>
                </button>
                <a href="{{ url_for('clear_chatbot_messages') }}"
                  ><button class="btn btn-danger text-dark">
                    <label for="delete" class="btn-text">Confirm</label>
                  </button></a
                >
              </div>
            </dialog>
          </section>
        </div>
      </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
