<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    {% include "head.html" %}

    <title>Chat app - Contact</title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <!-- Main content -->
    <main>
      <div class="container d-flex align-items-center justify-content-between">
        <div class="col-md-6 px-5 mt-5 text-center">
          <img
            src="{{ url_for('static', path='/img/man sitting and writing.jpg') }}"
            alt="man sitting and writing"
            class="img-fluid rounded main-image pb-3" />
        </div>
        <div class="col-md-6">
          <h1 class="text-center bold text-primary main-word pb-5">Contact</h1>
          <form action="/contact" method="post">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control my-3"
                name="name"
                id="name"
                required />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control my-3"
                name="email"
                id="email"
                required />
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label">Subject</label>
              <input
                type="text"
                class="form-control my-3"
                name="subject"
                id="subject"
                required />
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
            </div>
            <textarea
              class="mb-3 form-control d-flex"
              name="message"
              id="message"
              required></textarea>

            <!-- Display error -->
            {% if errors is defined and errors.message %}
            <div class="alert alert-danger" role="alert">
              {{ errors.message }}
            </div>

            {% endif %}
            <button
              type="submit"
              class="btn btn-lg btn-primary mt-3 bold float-start">
              Submit
            </button>
          </form>
        </div>
      </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
