<footer class="footer-bg-color text-center py-5">
  <a
    href="{{ url_for('root') }}"
    class="d-flex justify-content-center align-items-center text-decoration-none">
    <p class="my-5 text-dark bold text-center h3">
      Chat app <sub>&copy </sub>{{ current_year }}
    </p>
  </a>
  <div class="container py-1 text-decoration-none">
    <a
      href="https://github.com/M4recki"
      aria-label="GitHub"
      class="text-decoration-none">
      <i class="bi bi-github px-4 social-link"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/marek-barański-516639248/"
      aria-label="LinkedIn"
      class="text-decoration-none">
      <i class="bi bi-linkedin px-4 social-link"></i>
    </a>
    <a
      href="https://progr4mmingskillz.blogspot.com"
      aria-label="Blogspot"
      class="text-decoration-none">
      <i class="bi bi-type-bold px-4 social-link"></i>
    </a>
    <a
      href="https://www.facebook.com/marek.baranski.902/"
      aria-label="Facebook"
      class="text-decoration-none">
      <i class="bi bi-facebook px-4 social-link"></i>
    </a>
  </div>
</footer>
