<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    {% include "head.html" %}

    <title>Chat app - Chatbot</title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <!-- Main content -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          {% include "sidebar.html" %}

          <section class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <!-- Users messages and unblocked user -->
            {% if friend_status == "accepted" %} {% if messages %} {% for
            message in messages %}
            <div class="card my-3">
              <div class="card-body">
                <p class="card-title">
                  {{ message.created_at.strftime(' %H:%M, %Y-%m-%d') }}
                </p>
                <p class="pt-2 text-start">
                  {% set sender = get_user(message.user_id) %} {% if sender.id
                  == user.id %}
                  <img
                    class="smaller-user-image mx-2 float-start"
                    src="data:image/jpeg;base64,{{ user.avatar }}"
                    alt="{{ user.name }}'s avatar" />
                  {% elif sender.id == friend.id %}
                  <img
                    class="smaller-user-image mx-2 float-start"
                    src="data:image/jpeg;base64,{{ friend.avatar }}"
                    alt="{{ friend.name }}'s avatar" />
                  {% endif %}
                  <strong class="text-primary">{{ sender.name }}:</strong> {{
                  message.content }}
                </p>
              </div>
            </div>

            {% endfor %}
            <div id="messages"></div>
            <div class="card mt-3">
              <div class="card-body">
                <form
                  action=""
                  onsubmit="sendMessage(event)"
                  class="d-flex flex-column">
                  <div class="form-floating">
                    <textarea
                      type="text"
                      cols="0"
                      id="messageText"
                      class="form-control textarea-height textarea-height mx-3 mt-5"
                      name="message"
                      autocomplete="off"
                      required></textarea>
                    <label for="floatingTextarea">Your message:</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      class="btn btn-primary btn-lg text-decoration-none text-dark bold my-3"
                      type="submit">
                      Send
                    </button>
                  </div>
                  <div id="messages"></div>
                </form>
              </div>
            </div>

            <!-- No previous conversation with other user -->
            {% else %}
            <h1 class="mt-5 mb-5 text-center">Start a new conversation</h1>
            <div id="messages"></div>
            <div class="card mt-3">
              <div class="card-body">
                <form
                  action=""
                  onsubmit="sendMessage(event)"
                  class="d-flex flex-column">
                  <div class="form-floating">
                    <textarea
                      type="text"
                      cols="0"
                      id="messageText"
                      class="form-control textarea-height mt-5"
                      name="message"
                      autocomplete="off"
                      required></textarea>
                    <label for="floatingTextarea">Your message:</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      class="btn btn-primary btn-lg text-decoration-none text-dark bold my-3"
                      type="submit">
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
            {% endif %}
            <!-- Blocked user -->
            {% else %} {% if messages %} {% for message in messages %}
            <div class="card my-3">
              <div class="card-body">
                <p class="card-title">
                  {{ message.created_at.strftime(' %H:%M, %Y-%m-%d') }}
                </p>
                <p class="pt-2 text-start">
                  {% set sender = get_user(message.user_id) %} {% if sender.id
                  == user.id %}
                  <img
                    class="smaller-user-image mx-2 float-start"
                    src="data:image/jpeg;base64,{{ user.avatar }}"
                    alt="{{ user.name }}'s avatar" />
                  {% elif sender.id == friend.id %}
                  <img
                    class="smaller-user-image mx-2 float-start"
                    src="data:image/jpeg;base64,{{ friend.avatar }}"
                    alt="{{ friend.name }}'s avatar" />
                  {% endif %}
                  <strong class="text-primary">{{ sender.name }}:</strong> {{
                  message.content }}
                </p>
              </div>
            </div>
            {% endfor %} {% endif %}
            <h1 class="mt-5 mb-5 text-center">
              This user has been blocked. If you want to continue the
              conversation, you can unblock this person.
            </h1>
            <div class="card mt-3">
              <div class="card-body">
                <form
                  action=""
                  onsubmit="sendMessage(event)"
                  class="d-flex flex-column">
                  <div class="form-floating">
                    <textarea
                      type="text"
                      cols="0"
                      id="floatingTextareaDisabled"
                      class="form-control textarea-height mt-5"
                      name="message"
                      autocomplete="off"
                      disabled
                      required></textarea>
                    <label for="floatingTextareaDisabled">Your message:</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button
                      class="btn btn-primary btn-lg text-decoration-none text-dark bold my-3"
                      disabled
                      type="submit">
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
            {% endif %}
            <!-- Block friend -->
            {% if friend_status == "accepted" %}
            <button
              class="btn btn-danger btn-lg text-decoration-none text-dark bold mt-5 mx-3 mb-3 float-end"
              onclick="document.getElementById('delete-confirmation').showModal()">
              Block
            </button>
            <dialog id="delete-confirmation">
              Are you sure you want to block this user?
              <div class="button-container my-5 d-flex justify-content-center">
                <button
                  class="btn btn-success me-3 text-dark"
                  id="close-dialog"
                  onclick="DeleteConfirmationClose()">
                  <label for="cancel" class="btn-text">Cancel</label>
                </button>
                <a href="{{ url_for('block_friend', friend_id=friend.id) }}"
                  ><button class="btn btn-danger text-dark">
                    <label for="delete" class="btn-text">Confirm</label>
                  </button></a
                >
              </div>
            </dialog>
            {% else %}
            <button
              class="btn btn-success btn-lg text-decoration-none text-dark bold mt-5 mx-3 mb-3 float-end"
              onclick="document.getElementById('delete-confirmation').showModal()">
              Unblock
            </button>
            <dialog id="delete-confirmation">
              Are you sure you want to unblock this user?
              <div class="button-container my-5 d-flex justify-content-center">
                <button
                  class="btn btn-success me-3 text-dark"
                  id="close-dialog"
                  onclick="DeleteConfirmationClose()">
                  <label for="cancel" class="btn-text">Cancel</label>
                </button>
                <a href="{{ url_for('unblock_friend', friend_id=friend.id) }}"
                  ><button class="btn btn-danger text-dark">
                    <label for="delete" class="btn-text">Confirm</label>
                  </button></a
                >
              </div>
            </dialog>
            {% endif %}
          </section>
        </div>
      </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}

    <!-- WebSocket handling -->
    <script>
      const user_name = "{{ user.name }}";
      const friend_name = "{{ friend.name }}";
      const client_avatar = "{{ user.avatar }}";
      const friend_avatar = "{{ friend.avatar }}";
      const channel_id = "{{ channel_id }}";
      const friend_id = parseInt("{{ friend.id }}", 10);
      const user_id = parseInt("{{ user.id }}", 10);
      console.log(friend_id);
      console.log(user_id);

      const ws = new WebSocket(
        `ws://localhost:8000/ws/${channel_id}/${user_name}/${user_id}`
      );
      ws.onmessage = function (event) {
        const messages = document.getElementById("messages");

        const messageContainer = document.createElement("div");
        messageContainer.classList.add("card", "my-3");

        const messageBody = document.createElement("div");
        messageBody.classList.add("card-body");

        const messageTitle = document.createElement("p");
        messageTitle.classList.add("card-title", "mt-3", "ms-3");

        // Current date in correct format

        function getCurrentDateTime() {
          const date = new Date();
          const hours = date.getHours().toString().padStart(2, "0");
          const minutes = date.getMinutes().toString().padStart(2, "0");
          const dateString =
            date.getFullYear() +
            "-" +
            (date.getMonth() + 1).toString().padStart(2, "0") +
            "-" +
            date.getDate().toString().padStart(2, "0");

          return `${hours}:${minutes}, ${dateString}`;
        }

        messageTitle.innerHTML = getCurrentDateTime();
        messageContainer.appendChild(messageTitle);

        const message = document.createElement("p");

        const user_avatar = document.createElement("img");
        user_avatar.classList.add("smaller-user-image", "mx-2", "float-start");

        // Parse the incoming message as JSON
        const messageData = JSON.parse(event.data);

        if (
          messageData.content &&
          messageData.content.includes("left the chat")
        ) {
          const cardElement = document.createElement("div");
          cardElement.classList.add("card", "my-3");

          const cardBodyElement = document.createElement("div");
          cardBodyElement.classList.add("card-body");

          const titleElement = document.createElement("p");
          titleElement.classList.add("pt-2", "text-start", "text-primary");

          usernameElement.textContent = messageData.senderName;
          cardBodyElement.appendChild(usernameElement);

          titleElement.textContent = messageData.content;
          cardBodyElement.appendChild(titleElement);

          cardElement.appendChild(cardBodyElement);

          messages.appendChild(cardElement);
        } else {
          const senderId = messageData.userId;
          const senderName = messageData.senderName;
          console.log(senderName);
          const messageContent = messageData.content;

          // Determine which user's avatar to display
          let avatar_data;
          if (senderId === user_id) {
            avatar_data = client_avatar;
          } else if (senderId === friend_id) {
            avatar_data = friend_avatar;
          } else {
            avatarData = "None";
          }

          user_avatar.src = `data:image/jpeg;base64,${avatar_data}`;
          user_avatar.alt = `${senderName}'s avatar`;
          messageBody.appendChild(user_avatar);

          const usernameElement = document.createElement("strong");
          usernameElement.classList.add("text-primary");
          usernameElement.textContent = `${senderName}: `;
          messageBody.appendChild(usernameElement);

          // Create the message content element with normal text
          const messageContentElement = document.createElement("label");
          messageContentElement.textContent = messageContent;
          messageBody.appendChild(messageContentElement);

          messageBody.appendChild(message);
          messageContainer.appendChild(messageBody);

          messages.appendChild(messageContainer);
        }
      };

      function sendMessage(event) {
        const input = document.getElementById("messageText");
        ws.send(input.value);
        input.value = "";
        event.preventDefault();
      }
    </script>
  </body>
</html>
