<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link
      href="{{ url_for('static', path='/css/style.css') }}"
      rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav
        class="nav navbar navbar-expand-lg bg-primary align-items-center"
        role="navigation"
        aria-label="Main Navigation">
        <div class="rounded ps-5">
          <a href="{{ url_for('root') }}" class="navbar-brand">
            <img
              src="{{ url_for('static', path='/img/chat.png') }}"
              id="chat-icon"
              alt="chat-icon" />
          </a>
        </div>
        <button
          class="navbar-toggler me-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav">
          <ul class="navbar-nav float-end pt-3 me-3">
            <!-- Logged user -->
            {% if is_authenticated %}
            <li class="nav-item lead bold">
              <img
                class="card-img-top user-image mx-2"
                src="data:image/jpeg;base64,{{ user_image }}"
                alt="{{ user_name }}'s avatar" />
            </li>
            <li class="nav-item lead bold">
              <p class="nav-link text-white" role="tab">
                Welcome back, {{user_name}}! 👋
              </p>
            </li>
            <li class="nav-item lead bold">
              <a
                href="{{ url_for('single_chat') }}"
                class="nav-link text-white"
                role="tab"
                aria-selected="false"
                >Chats</a
              >
            </li>
            <li class="nav-item lead bold">
              <a
                href="{{ url_for('logout') }}"
                class="nav-link text-white"
                role="tab"
                aria-selected="false"
                >Log out</a
              >
            </li>

            <!-- Not logged in user -->
            {% else %}
            <li class="nav-item lead bold">
              <a
                href="{{ url_for('login') }}"
                class="nav-link text-white"
                role="tab"
                aria-selected="false"
                >Log in</a
              >
            </li>
            <li class="nav-item lead bold">
              <a
                href="{{ url_for('sign_up') }}"
                class="nav-link text-white"
                role="tab"
                aria-selected="false"
                >Sign up</a
              >
            </li>

            {% endif %}
            <li class="nav-item lead bold">
              <a
                href="{{ url_for('contact') }}"
                class="nav-link text-white me-5"
                role="tab"
                aria-selected="false"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
