<!doctype html>
<html lang="en">
  <head>
    <!-- Head -->
    {% include "head.html" %}

    <title>Chat app</title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <!-- Main content -->
    <main>
      <section class="container-fluid px-4 px-lg-5 py-5">
        <div class="row align-items-center g-5 py-4">
          <div class="col-lg-6">
            <h1 class="display-5 bold lh-base text-primary">
              Chat app -
              <br />
              effective communication solution
            </h1>
            <p class="pt-4 lead bold">
              Chat app is a simple and versatile application that allows you to
              send text messages with your loved ones. Thanks to its intuitive
              operation and rich functions, Chat app provides a convenient and
              safe environment for communication on PC computers and mobile
              devices.
            </p>
          </div>
          <div class="col-lg-6 text-center text-lg-end">
            <img
              src="{{ url_for('static', path='/img/community.png') }}"
              class="img-fluid d-none d-md-inline community-chat-image"
              alt="community-chat" />
          </div>
        </div>
      </section>

      <div class="container pt-5 align-items-center d-flex flex-column">
        <h2 class="pt-5 bold text-primary">Main Features:</h2>
        <div class="row text-center py-5">
          <div class="col-md d-flex"> 
            <div class="card mb-3 bg-primary text-white">
              <div class="card-body text-center mt-3">
                <i class="bi bi-people features"></i>
                <h3 class="card-title mb-4 py-2">Direct contact</h3>
                <p>
                  Chat app provides a user-friendly platform where you can stay
                  connected with your loved ones no matter where they are. With
                  seamless messaging features, you can share important moments,
                  seek advice, and simply enjoy casual conversations with family
                  and friends.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md d-flex">
            <div class="card mb-3 bg-primary text-white">
              <div class="card-body text-center mt-3">
                <i class="bi bi-chat-heart features"></i>
                <h3 class="card-title mb-4 py-2">Engagement</h3>
                <p>
                  Our app offers a seamless platform for reacting to messages,
                  facilitating better communication and collaboration. Whether
                  it's for personal or professional use, Chat app provides a
                  user-friendly experience that enhances the way we interact and
                  engage with others.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md text-dark d-flex">
            <div class="card mb-3 bg-primary text-white">
              <div class="card-body text-center mt-3">
                <i class="bi bi-tablet features"></i>
                <h3 class="card-title mb-4 py-2">Smooth convenience</h3>
                <p>
                  Many platforms, such as tablets and smartphones, are
                  compatible with our software. You may access your tasks and
                  information at any time, from anywhere, because of this. Our
                  app will keep you mobile and adaptable whether you're working
                  remotely or while on the go.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary pt-5 pb-5 text-center px-3">
        <h3 class="bold text-white">
          Visit us and become a part of our expanding, happy user
          community!
        </h3>
        <a
          class="btn btn-light btn-lg mt-5 text-decoration-none text-dark bold"
          href="{{ url_for('sign_up') }}"
          >Sign up</a
        >
      </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
