<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    {% include "head.html" %}

    <title>Chat app - Search user</title>
  </head>
  <body>
    <!-- Header -->
    {% include "header.html" %}

    <!-- Main content -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          {% include "sidebar.html" %}

          <section role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h1 class="mt-5 text-center">All users</h1>
            <div
              class="d-flex flex-nowrap overflow-auto mb-3 justify-content-center mt-4">

              <!-- List of all users -->
              {% if users %} {% for user in users %}
              <div class="card mb-2 me-3">
                <div class="card-body text-center">
                  <img
                    class="card-img-top user-image mx-auto mt-3"
                    src="data:image/jpeg;base64,{{ user.avatar }}"
                    alt="{{ user.name }}'s avatar" />
                  <div class="card-body">
                    <p class="card-title lead">
                      {{ user.name }} {{ user.surname }}
                    </p>
                    <a
                      href="{{ url_for('add_friend', friend_id=user.id) }}"
                      class="btn btn-primary mt-3"
                      >Add friend</a
                    >
                  </div>
                </div>
              </div>
              {% endfor %} {% else %}

              <p class="text-center mt-4 lead col-12">
                There are no users on this website at the moment.
              </p>
              {% endif %}
              
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
