<nav class="col-md-2 d-md-block d-sm-block bg-light sidebar vh-100">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active my-3" href="{{ url_for('search_user') }}">
          <i class="bi bi-search mx-2"></i>
          Search user
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active my-3" href="{{ url_for('friend_requests') }}">
          <i class="bi bi-person-add mx-2"></i>
          Friend requests
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active my-3" href="{{ url_for('single_chat') }}">
          <i class="bi bi-person mx-2"></i>
          Individual chat
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-3" href="{{ url_for('group_chat') }}">
          <i class="bi bi-people mx-2"></i>
          Group chat
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-3" href="{{ url_for('chatbot') }}">
          <i class="bi bi-robot mx-2"></i>
          Chat with AI
        </a>
      </li>
    </ul>
  </div>
</nav>
