<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link
      href="{{ url_for('static', path='/css/style.css') }}"
      rel="stylesheet" />
  </head>
  <body>
    <!-- Sidebar -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar vh-100">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active my-3" href="{{ url_for('search_user') }}">
              <i class="bi bi-search mx-2"></i>
              Search User
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active my-3" href="{{ url_for('single_chat') }}">
              <i class="bi bi-person-fill mx-2"></i>
              Individual Chat
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-3" href="{{ url_for('group_chat') }}">
              <i class="bi bi-people-fill mx-2"></i>
              Group Chat
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-3" href="{{ url_for('ai_chat') }}">
              <i class="bi bi-robot mx-2"></i>
              Chat with AI
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
