<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    {% include "head.html" %}

    <title>Chat app - Sign up</title>
  </head>
  <body>
    <!-- Header -->
    {% include "header.html" %}

    <!-- Main content -->
    <main>
      <div class="container d-flex align-items-center justify-content-between">
        <div class="col-md-6">
          <h1 class="text-center py-5 bold text-primary">Sign up</h1>
          <form action="/sign_up" method="post">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control my-3"
                name="name"
                id="name" />

              <!-- Display error -->
              {% if errors.name %}
              <div class="alert alert-danger" role="alert">
                {{ errors.name }}
              </div>
              {% endif %}

            </div>
            <div class="mb-3">
              <label for="surname" class="form-label">Surname</label>
              <input
                type="text"
                class="form-control my-3"
                name="surname"
                id="surname"
                required />

              <!-- Display error -->
              {% if errors.surname %}
              <div class="alert alert-danger" role="alert">
                {{ errors.surname }}
              </div>
              {% endif %}

            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control my-3"
                name="email"
                id="email"
                required />

              <!-- Display error -->
              {% if errors.email %}
              <div class="alert alert-danger" role="alert">
                {{ errors.email }}
              </div>
              {% endif %}

            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control my-3"
                name="password"
                id="password"
                required />

              <!-- Display error -->
              {% if errors.password %}
              <div class="alert alert-danger" role="alert">
                {{ errors.password }}
              </div>
              {% endif %}

            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label"
                >Confirm password</label
              >
              <input
                type="password"
                class="form-control my-3"
                name="confirm_password"
                id="confirmPassword"
                required />

              <!-- Display error -->
              {% if errors.confirm_password %}
              <div class="alert alert-danger" role="alert">
                {{ errors.confirm_password }}
              </div>
              {% endif %}

            </div>
            <div class="mb-3">
              <input
                type="checkbox"
                id="checkbox"
                name="terms_conditions"
                class="form-check-input mx-2"
                required />

              <!-- Display error -->
              {% if errors.terms_conditions %}
              <div class="alert alert-danger" role="alert">
                {{ errors.terms_conditions }}
              </div>
              {% endif %}
              
              <label class="form-check-label mb-4" for="form-check-input">
                I agree to the Terms and Conditions
              </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary bold">
              Submit
            </button>
          </form>
        </div>
        <div class="col-md-6 px-5 mt-5 text-center">
          <img
            src="{{ url_for('static', path='/img/2 people chatting 1st img.jpg') }}"
            alt="girl and boy chatting"
            class="img-fluid rounded pb-3" />
          <a href="{{ url_for('login') }}" class="fw-bold text-body"
            ><i class="bi bi-person-check px-2 text-primary"></i
            ><u class="text-primary">I am already member</u></a
          >
        </div>
      </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
