<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    {% include "head.html" %}

    <title>Chat app - Single chat</title>
  </head>
  <body>
    <!-- Header -->
    {% include "header.html" %}

    <!-- Main content -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          {% include "sidebar.html" %}

          <section role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h1 class="mt-5 text-center">Your friends</h1>
            <!-- User avatars -->
            <div
              class="d-flex flex-nowrap overflow-auto mb-3 justify-content-center mt-4">
              <div class="card mb-2 me-3">
                <a
                  href="{{ url_for('search_user') }}"
                  class="text-decoration-none">
                  <div class="card-body text-center">
                    <i
                      class="bi bi-person-plus icon-size card-img-top mt-3 mx-auto"></i>
                    <p class="card-title lead mt-4">Add new friend</p>
                  </div>
                </a>
              </div>

              <!-- List of all friends -->
              {% for user in users %}
              <div class="card mb-2 me-3">
                <a
                  href="{{ url_for('friend_chat_page', channel_id=channel_id) }}"
                  class="text-decoration-none">
                  <div class="card-body text-center">
                    <img
                      class="card-img-top user-image mx-auto mt-3"
                      src="data:image/jpeg;base64,{{ user.avatar }}"
                      alt="{{ user.name }}'s avatar" />
                    <div class="card-body">
                      <p class="card-title lead text-primary">
                        {{ user.name }} {{ user.surname }}
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
