<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    {% include "head.html" %}

    <title>Chat app - Single chat</title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <!-- Main content -->
    <main>
      <div class="container-fluid justify-content-center">
        <div class="row">
          <!-- Sidebar -->
          {% include "sidebar.html" %}

          <section class="col-lg-10">
            <h1 class="mt-5 text-center">Your friends</h1>

            <!-- Add new friend -->
            <div class="d-flex overflow-auto justify-content-center mb-3 mt-4">
              <div class="row">
                <div class="col-md d-flex">
                  <div class="card card-block mb-2 mx-3">
                    <a
                      href="{{ url_for('search_user') }}"
                      class="text-decoration-none">
                      <div class="card-body text-center">
                        <i
                          class="bi bi-person-plus icon-size card-img-top mt-3 mx-auto"></i>
                        <p class="card-title lead mt-4">Add new friend</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <!-- List of all friends -->
              {% for friend in friends %}
              <div class="row">
                <div class="col-md d-flex">
                  <div class="card card-block mb-2 me-3">
                    <a
                      href="{{ url_for('friend_chat_page', channel_id=channel_ids[friend.id], friend_id=friend.id) }}"
                      class="text-decoration-none">
                      <div class="card-body text-center">
                        <img
                          class="card-img-top user-image mx-auto mt-3"
                          src="data:image/jpeg;base64,{{ friend_avatar }}"
                          alt="{{ friend.name }}'s avatar" />
                        <div class="card-body">
                          <p class="card-title lead text-primary">
                            {{ friend.name }} {{ friend.surname }}
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
